@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Azeret Mono", monospace;
    font-family: "Azeret Mono", monospace;
}
/* banner header section start here  */

.benner-section{
  background-image: url(images/Hero-bg.png);
  max-width: 1100px;
  /* border:2px solid red; */
  height:600px;
  margin:0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  
   
}
.first-banner-section {
  /* border:2px solid rgb(226, 13, 113); */
  width: 900px;
  height: 500px;
  margin-left: 100px;


}
.first-banner-section h1 , p {
  margin-top: 20px;
}
.btn-conten{
  
  border-radius: 8px;
  background: rgb(13, 27, 59);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 208px;
  height:60px;
  color:white ;
  padding: 21px 24px 21px 24px;
  margin-top: 32px;
  margin-left: 320px;
  

}

.main-contener{
  margin-top: 20px;
  /* border:2px solid red; */
  width: 1050px;
  height: 1100px;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
   margin: 0 auto;
   
   padding: 80px 97px 80px  97px;
   border-radius: 16px;
   background-color:rgba(13, 19, 33, 0.02);
   
 
  
}
.first-contener-main{
  width: 980px;
  height: 1020px;
  /* border:3px solid greenyellow; */
  background-color:#FCFCFD;
  
  
   
}
.why-web-development{
  /* border:2px solid red; */
  margin:0 auto;
  font-family: Azeret Mono;
  
  
  text-align: center;

}
.change-the-world-section{
  /* border:2px solid red; */
  width: 850px;
  height: 240px;
  margin:0 auto;
  margin-top:32px;
  border-radius: 16px;
  background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
  
  
}
.change-the-world-section-01{
  /* border:2px solid rgb(115, 21, 238); */
  width:820px;
  height:220px;
  /* margin:0 auto; */
  margin:10px 15px 10px 15px;
  display: flex;
  
 

  
}
.change-the-world-section-descreption{
  /* border:2px solid greenyellow; */
  width:50%;
  height:216px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  

  
}
.change-the-world-section-descreption p{
  font-size: 11px;

}
.change-the-world-section-descreption h3{
  font-size: 20px;
  font-weight: 600;
}
.btn-contenerr{
  width: 150px;
  height: 48px;
  margin-top: 70px;
  
}

.therd-div-image{
  /* border:2px solid red; */
  width:50%;
  height:216px;



}
.therd-div-image img{
  background-repeat: no-repeat;
  width: 259.56px;
  height: 217.01px;
  margin-left: 150px;


}
.thered-contener-main{
  /* border:2px solid red; */
  width: 850px;
  height: 240px;
  margin:0 auto;
  margin-top:32px;
  
}
.thered-contener-div{
  /* border:2px solid red; */
  width: 830px;
  height: 220px;
  margin:0 auto;
  margin-top:7px;
  
  display: flex;
  background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);

}
.bennar-bootom{
  /* border:2px solid red; */
  width: 40%;
  height: 220px;
  


} 
.bennar-bootom img{
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left:70px;
  /* width: 223.2px;
height: 208.85px; */

}
.thardconter-right{
  /* border:2px solid rgb(15, 156, 39); */
  width: 60%;
  height: 220px;
}
.thardconter-right {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 13px;
  font-weight: 300;
}
.main-box-model{
  /* border:2px solid red; */
  width: 850px;
  height: 240px;
  margin:0 auto;
  margin-top:32px;
  
  
} 
.secend-box-model{
  /* border:2px solid red; */
  width: 830px;
  height: 220px;
  margin:0 auto;
  display:flex;
  
  margin-top:10px;
}
.text-box{
  /* border:2px solid rgb(15, 156, 39); */
  width: 70%;
  height: 218px;

}
.text-box-01{
  /* border:2px solid rgb(15, 156, 39); */
  width: 50%;
  height: 218px;

}
.text-box{
  font-size: 13px;
  font-weight: 300;
}
.text-box-01 img{
  margin-left:80px;
}
.youtube-video-link{
  /* border:2px solid red; */
  width: 1050px;
  height: 600px;
  margin:0 auto;
  margin-top:20px;
}
.youtube-text{
  /* border:2px solid red; */
  width: 852px;
  height: 113px;
  margin:0 auto;
  text-align: center;
  margin-bottom: 30px;
}
.youtube-video iframe{
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  display: flex;
  margin:0 auto;
  width: 700px;
  height: 350px;
}
.skill-list{
  /* border:2px solid red; */
  width: 1050px;
  height: 1200px;
  margin:0 auto;
  margin-top:30px;

background: rgb(255, 255, 255);
}
.my-current-target-is-to-change-my-life-in-six-months{
  /* border:2px solid goldenrod; */
  width: 946px;
  height: 113px;
  margin:0 auto;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}
.skill-list1{
  display: flex;
   gap:10px;

  
}
.skill-description{
  
}


.skill-html{
  width: 364px;
  height: 300;
  margin-top: 50px;
  background-color:#fff6f4;
  border-radius:10px;
  padding:10px;

}
.skill-css{
  width: 364px;
  height: 300;
  margin-top: 50px;
  background-color: #F2F6FE;
  border-radius:10px;
  padding: 10px;
}
.skill-JavaScript{
  width: 364px;
  height: 300;
  margin-top: 50px;
  background-color: #FFFDF2;
  border-radius:10px;
  padding: 10px;
  

}
.skill-html img {
  margin-left:-15px;
}
.skill-css img {
  margin-left:-15px;
}
.my-next-target{
  /* border:2px solid red; */
  width: 852px;
  height: 113px;
  /* margin-top: 200px; */
  
  margin:0 auto;
  margin-top: 111px;
  text-align: center;
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 500px;
  margin-bottom: 30px;


}
.my-next-target p{
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
}
 .rect-main{
 /* border:2px solid red;  */
width: 1000px;
height: 150px;
margin:0 auto;
display: flex;
border-radius:20px ;
margin-bottom: 20px;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);


  
} 
.rect-img{
  /* border:2px solid red; */
  width:150px;
  height: 130px;
  margin-top: 5px;;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  


}
.rect-tex{
  /* border:2px solid red; */
  width:650px;
  height: 130px;
  
   margin-top: 5px;;
  margin-left: 15px;



}
            
          

.banner-section-of-footer{
/* border:2px solid red; */
width: 1050px;
height: 313px;
margin:0 auto;
 display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-size: cover;
background-position: center center;
background-color:rgba(0, 0, 0, 0.5) ;

background-image: url(images/handshake.jpg);

background-blend-mode:overlay;


}
.banner-section-of-footer1{
  /* border:2px solid red; */
  width: 1044px;
height: 185px;
text-align: center;

}
.banner-section-of-footer1  h1 {
  width: 292px;
  height: 36px;
  color:white;
  font-family: Azeret Mono;
  font-size: 32px;
  text-align: center;
  margin-left: 350px;


}
.banner-section-of-footer1{
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;

}
.input-button-style{
  width: 548px;
  height: 57px;
  margin-top: 48px;
  border-radius: 5px;
}
.input-submit-style{
  width: 120px;
  height: 57px;
  margin-top: 45px;
  border-radius: 5px;
}
.input-submit-style span{
  font-family: Azeret Mono;
  font-size: 20px;

}
.footer-conten-end{
  /* border:2px solid red; */
  width: 1050px;
  height: 70px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;
  margin-top: 100px;

  
}
.footer-conten-end  h1{
  row-gap:200px;

}











 